<%= tag.div class: "details", id: "#{dom_id(game)}_details" do %>
  <div>
    <span class="user">
      <%= game.players&.first&.username %>
    </span>
    <span class="user">
      <%= game.players&.last&.username %>
    </span>
  </div>
<% end %>
