<div class="flex flex-col gap-4 text-slate-400 text-center text-lg">
  <div class="grid divide-y-2 divide-gray-200">
    <div class="grid grid-cols-3 divide-x-2 divide-gray-200">
      <% @row1.each_with_index do |spot, idx| %>
        <%= button_to spot || "&nbsp;&nbsp;".html_safe, game_update_board_path(@game, spot: idx), class: "p-10" %>
      <% end %>
    </div>
    <div class="grid grid-cols-3 divide-x-2 divide-gray-200">
      <% @row2.each_with_index do |spot, idx| %>
        <%= button_to spot || "&nbsp;&nbsp;".html_safe, game_update_board_path(@game, spot: idx + 3), class: "p-10" %>
      <% end %>
    </div>
    <div class="grid grid-cols-3 divide-x-2 divide-gray-200">
      <% @row3.each_with_index do |spot, idx| %>
        <%= button_to spot || "&nbsp;&nbsp;".html_safe, game_update_board_path(@game, spot: idx + 6), class: "p-10" %>
      <% end %>
    </div>
  </div>
  <h3>
    It's <%= @game.current_player.username || @game.current_player.symbol %>'s
  </h3>
</div>
