@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Body */

  body {
    /* prevents scrollbar from repositioning page which feels like a reload */
    @apply overflow-y-scroll;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='200' zoomAndPan='magnify' viewBox='0 0 150 149.999998' height='200' preserveAspectRatio='xMidYMid meet' version='1.0'%3E%3Cdefs%3E%3Cg/%3E%3C/defs%3E%3Cg fill='%23201f1f' fill-opacity='1'%3E%3Cg transform='translate(25.339194, 79.452671)'%3E%3Cg%3E%3Cpath d='M 3.734375 -39.765625 L 8.234375 -42.421875 L 6.921875 -23.328125 L 25.109375 -14.84375 L 20.453125 -12.09375 L 6.21875 -19.109375 L 5.265625 -3.109375 L 0.734375 -0.4375 L 2.265625 -20.578125 L -15.09375 -28.625 L -10.375 -31.421875 L 3 -24.921875 Z M 3.734375 -39.765625 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg fill='%23201f1f' fill-opacity='1'%3E%3Cg transform='translate(51.16739, 64.185395)'%3E%3Cg/%3E%3C/g%3E%3C/g%3E%3Cg fill='%23201f1f' fill-opacity='1'%3E%3Cg transform='translate(61.934402, 57.820919)'%3E%3Cg/%3E%3C/g%3E%3C/g%3E%3Cg fill='%23201f1f' fill-opacity='1'%3E%3Cg transform='translate(72.694891, 51.460298)'%3E%3Cg%3E%3Cpath d='M 15.5625 -8.203125 C 12.664062 -6.492188 9.796875 -5.691406 6.953125 -5.796875 C 4.117188 -5.898438 1.53125 -6.753906 -0.8125 -8.359375 C -3.164062 -9.972656 -5.132812 -12.117188 -6.71875 -14.796875 C -8.3125 -17.484375 -9.242188 -20.242188 -9.515625 -23.078125 C -9.796875 -25.910156 -9.296875 -28.59375 -8.015625 -31.125 C -6.734375 -33.664062 -4.660156 -35.78125 -1.796875 -37.46875 C 1.140625 -39.207031 4.03125 -39.992188 6.875 -39.828125 C 9.726562 -39.671875 12.320312 -38.769531 14.65625 -37.125 C 16.988281 -35.476562 18.910156 -33.378906 20.421875 -30.828125 C 21.984375 -28.171875 22.898438 -25.414062 23.171875 -22.5625 C 23.453125 -19.71875 22.960938 -17.03125 21.703125 -14.5 C 20.441406 -11.976562 18.394531 -9.878906 15.5625 -8.203125 Z M 16.546875 -28.546875 C 15.234375 -30.773438 13.660156 -32.503906 11.828125 -33.734375 C 9.992188 -34.960938 8.0625 -35.613281 6.03125 -35.6875 C 4 -35.769531 2.023438 -35.25 0.109375 -34.125 C -1.765625 -33.007812 -3.148438 -31.539062 -4.046875 -29.71875 C -4.941406 -27.894531 -5.289062 -25.890625 -5.09375 -23.703125 C -4.90625 -21.523438 -4.15625 -19.320312 -2.84375 -17.09375 C -1.53125 -14.875 0.03125 -13.140625 1.84375 -11.890625 C 3.664062 -10.648438 5.59375 -9.992188 7.625 -9.921875 C 9.664062 -9.847656 11.640625 -10.375 13.546875 -11.5 C 15.453125 -12.632812 16.859375 -14.113281 17.765625 -15.9375 C 18.671875 -17.769531 19.019531 -19.773438 18.8125 -21.953125 C 18.613281 -24.128906 17.859375 -26.328125 16.546875 -28.546875 Z M 16.546875 -28.546875 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg fill='%23201f1f' fill-opacity='1'%3E%3Cg transform='translate(57.151936, 133.271424)'%3E%3Cg%3E%3Cpath d='M 15.5625 -8.203125 C 12.664062 -6.492188 9.796875 -5.691406 6.953125 -5.796875 C 4.117188 -5.898438 1.53125 -6.753906 -0.8125 -8.359375 C -3.164062 -9.972656 -5.132812 -12.117188 -6.71875 -14.796875 C -8.3125 -17.484375 -9.242188 -20.242188 -9.515625 -23.078125 C -9.796875 -25.910156 -9.296875 -28.59375 -8.015625 -31.125 C -6.734375 -33.664062 -4.660156 -35.78125 -1.796875 -37.46875 C 1.140625 -39.207031 4.03125 -39.992188 6.875 -39.828125 C 9.726562 -39.671875 12.320312 -38.769531 14.65625 -37.125 C 16.988281 -35.476562 18.910156 -33.378906 20.421875 -30.828125 C 21.984375 -28.171875 22.898438 -25.414062 23.171875 -22.5625 C 23.453125 -19.71875 22.960938 -17.03125 21.703125 -14.5 C 20.441406 -11.976562 18.394531 -9.878906 15.5625 -8.203125 Z M 16.546875 -28.546875 C 15.234375 -30.773438 13.660156 -32.503906 11.828125 -33.734375 C 9.992188 -34.960938 8.0625 -35.613281 6.03125 -35.6875 C 4 -35.769531 2.023438 -35.25 0.109375 -34.125 C -1.765625 -33.007812 -3.148438 -31.539062 -4.046875 -29.71875 C -4.941406 -27.894531 -5.289062 -25.890625 -5.09375 -23.703125 C -4.90625 -21.523438 -4.15625 -19.320312 -2.84375 -17.09375 C -1.53125 -14.875 0.03125 -13.140625 1.84375 -11.890625 C 3.664062 -10.648438 5.59375 -9.992188 7.625 -9.921875 C 9.664062 -9.847656 11.640625 -10.375 13.546875 -11.5 C 15.453125 -12.632812 16.859375 -14.113281 17.765625 -15.9375 C 18.671875 -17.769531 19.019531 -19.773438 18.8125 -21.953125 C 18.613281 -24.128906 17.859375 -26.328125 16.546875 -28.546875 Z M 16.546875 -28.546875 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg fill='%23201f1f' fill-opacity='1'%3E%3Cg transform='translate(87.280827, 115.461969)'%3E%3Cg/%3E%3C/g%3E%3C/g%3E%3Cg fill='%23201f1f' fill-opacity='1'%3E%3Cg transform='translate(98.047839, 109.097493)'%3E%3Cg/%3E%3C/g%3E%3C/g%3E%3Cg fill='%23201f1f' fill-opacity='1'%3E%3Cg transform='translate(108.808328, 102.736872)'%3E%3Cg%3E%3Cpath d='M 3.734375 -39.765625 L 8.234375 -42.421875 L 6.921875 -23.328125 L 25.109375 -14.84375 L 20.453125 -12.09375 L 6.21875 -19.109375 L 5.265625 -3.109375 L 0.734375 -0.4375 L 2.265625 -20.578125 L -15.09375 -28.625 L -10.375 -31.421875 L 3 -24.921875 Z M 3.734375 -39.765625 '/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  /* Text */

  h2 {
    @apply text-primary text-3xl font-bold text-center uppercase;
  }

  /* Links */

  a {
    @apply hover:text-primary text-blue-300 duration-500 hover:scale-110;
  }

  /* Buttons */

  .btn {
    @apply w-full py-2 px-4 border border-transparent text-sm font-semibold rounded-md text-white bg-blue-500 transition duration-150 ease-in-out shadow-md cursor-pointer;
  }

  .btn:focus {
    @apply outline-none border-blue-700 ring-2 ring-offset-2 ring-blue-300;
  }

  .btn:active {
    @apply bg-blue-700;
  }

  .btn:hover {
    @apply bg-blue-600;
  }

  .actions {
    @apply mt-6 flex items-center justify-center space-x-4;

    & .btn-danger {
      @apply bg-red-500 text-white;

      &:hover {
        @apply bg-red-400;
      }

      &:active {
        @apply bg-red-600;
      }
    }
  }

  /* Flashes */

  .flashes {
    @apply flex flex-col;
  }

  .flash {
    @apply text-center text-sm px-4 py-2 my-2 font-medium rounded-md;

    &.notice,
    &.success {
      @apply bg-green-200 text-green-900;
    }

    &.error,
    &.alert {
      @apply bg-red-300 text-red-900;
    }
  }

  /* Form Inputs */

  form.user-form {
    @apply flex flex-col lg:w-96 mx-auto;

    & label {
      @apply block mb-2 text-sm font-semibold text-gray-700;
    }

    & input[type="text"],
    & input[type="search"],
    & input[type="number"],
    & input[type="password"] {
      @apply mb-4 w-full appearance-none relative block shadow-sm px-3 py-2 border border-gray-300 text-gray-900 rounded-lg transition duration-150 ease-in-out text-sm;
    }

    & input[type="text"]:focus,
    & input[type="search"]:focus,
    & input[type="number"]:focus,
    & input[type="password"]:focus {
      @apply outline-none ring-1 ring-blue-300 border-blue-300;
    }

    & button[type="submit"],
    & input[type="submit"] {
      @apply w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 transition duration-150 ease-in-out shadow-sm cursor-pointer;
    }

    & button[type="submit"]:focus,
    & input[type="submit"]:focus {
      @apply outline-none border-blue-700 ring-2 ring-offset-2 ring-blue-300;
    }

    & button[type="submit"]:active,
    & input[type="submit"]:active {
      @apply bg-blue-700;
    }

    & button[type="submit"]:hover,
    & input[type="submit"]:hover {
      @apply bg-blue-600;
    }

    & select {
      @apply mb-4 w-full appearance-none relative block shadow-sm py-2 text-lg border-gray-300 rounded-md text-gray-400;
    }

    & select:focus {
      @apply outline-none ring-1 ring-blue-300 border-blue-300;
    }

    & .field-with-errors {
      & input,
      & textarea,
      & select {
        @apply border-red-300;
      }

      & .error {
        @apply block text-red-700 text-sm;
      }
    }
  }

  /* animation keyframes */
  @keyframes fade-in-and-out {
    0%,
    100% {
      opacity: 0;
    }
    25%,
    75% {
      opacity: 1;
    }
  }

  /* Activity Index Page */

  .activity_index {
    @apply mx-auto max-w-4xl bg-white text-base text-gray-800 h-full;

    & .game {
      @apply w-full py-6 border-b border-gray-200 sm:flex sm:items-center space-y-6 sm:space-y-0 sm:justify-between;

      & .details {
        @apply text-center pr-2 sm:flex sm:items-center sm:space-x-6 sm:text-left;

        & .user,
        & .species,
        & .weight,
        & .length {
          @apply font-bold;
        }

        & a {
          @apply hover:text-primary text-slate-400 duration-500 hover:scale-100;
        }
      }

      & button {
        @apply sm:ml-auto text-center sm:flex-shrink-0 tabular-nums whitespace-nowrap;

        & div {
          @apply inline;
        }

        & img {
          @apply h-6 w-6 inline-block hover:scale-110;
        }
      }

      & button[type="submit"],
      & input[type="submit"] {
        @apply border-none rounded-none shadow-none bg-transparent text-base text-gray-700;
      }

      & button[type="submit"]:focus,
      & input[type="submit"]:focus {
        @apply ring-0 ring-offset-0 border-0 outline-none;
      }
    }
  }
}
