<header class="absolute top-0 left-0 w-screen">
  <nav>
    <ul class="flex justify-end gap-2 pt-2 px-4 text-slate-300">
      <% if signed_in? %>
        <li>
          <%= current_user ? (nav_link_to current_user.username, current_user) : current_player.username %>
        </li>
        <li>
          <%= nav_link_to "Sign Out", signout_path %>
        </li>
      <% else %>
        <li>
          <%= nav_link_to "Sign In", signin_path %>
        </li>
        <li>
          <%= nav_link_to "Sign Up", signup_path %>
        </li>
      <% end %>
    </ul>
  </nav>
  <div class="text-3xl flex justify-center items-center uppercase pb-4 font-bold text-primary">tic tac toe</div>
</header>
